<h1>Welcome to AirPlants</h1>
<p>A very cool marketplace for plants lovers</p>

<p> <%= link_to "Browse all plants", plants_path %></p>
<p><%= link_to "Show all bookings", bookings_path %></p>

<p><%= link_to "Show all users", users_path %></p>
