<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>




<div class="card-review">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-review-infos">
    <h2>Review name</h2>
    <p>Review description with <strong>relevant info</strong> only.</p>
  </div>
</div>

