<h1>Welcome to AirPlants</h1>
<p>A very cool marketplace for plants lovers</p>

<<<<<<< HEAD
<p> <%= link_to "Browse all plants", plants_path %></p>
<p><%= link_to "Show all bookings", bookings_path %></p>

<p><%= link_to "Show all users", users_path %></p>
=======
>>>>>>> 09a639797b0e4ce4cc1832974d2f492438e84839
