// TO USE : code HTML
// <div class="card-review">
//   <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
//   <div class="card-review-infos">
//     <h2>Review name</h2>
//     <p>Review description with <strong>relevant info</strong> only.</p>
//   </div>
// </div>


.card-review {
  overflow: hidden;
  height: 80px;
  margin: 10px;
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}

.card-review img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-review h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-review p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-review .card-review-infos {
  padding: 20px;
}

